/* Add your CSS to this file */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content:left;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero p {
    display: flex;
    justify-content: space-between;
}
ul{
    display:flex;
    justify-content: right;
    color: #6b7280;
    list-style-type:none;

    
}
li{
    margin-left: 20px;
    color: #48BB78

}
h2{
    display: flex;
    justify-content:flex-end;

}
a{
    color: #6b7280;
    text-decoration: none;

}
.container a:hover{
    color:#5A67D8;

}
.overview-hero{
    background-color: #E2E8F0;
    padding: 50px;


}
.overview-hero-image{
    width: 250px;
    height: 200px;
    background-image: url('yoga.png');
    background-size:contain;
    background-color:#E2E8F0 ;
    display: flex;
    float: left;


}
.overview-hero-text{
    padding-left: 100px;
    float: right;



}.learn-about h2{
    color:#48BB78;
    font-size: 24px;
    justify-content: left;



}

    


.container {
    display: flex;
    flex-direction: column;
    margin:  0 auto;
}

.cards {
    display: flex;
    justify-content:center;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.card-body h3{
    color: #48BB78;
}
.card:nth-child(1) img {

    width: 200px;
    height: 100px;
    background-image: url('ai.png');
    background-size:contain;
    border:#FFF;
    margin: 10px;
    padding: 10px;
    text-align: start;
}
.card:nth-child(2) img {
    width: 200px;
    height: 100px;
    background-image: url('fitness.png');
    background-size: cover;
    border: none;
    margin:none;
    padding: 10px;
    text-align: start;
}
.card:nth-child(3) img {
    width: 200px;
    height: 100px;

    background-image: url('healthy.pg.png'); 
    background-size: cover;
    border: none;
    margin: none;
    padding: 10px;
    text-align: start;
}
.testing{
    text-align:left;
    background-color:#4A5568;
    padding: 50px;


}
.testing h2{
    display:flex;
    justify-content: left;
    color: #fff;
   

    

}
.testing p{
    color: #fff;
    justify-content: flex-start;
    float: right;
    margin-left:15px ;
}

    
.btn{
    background: #48BB78;
    width: 100px;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-left: 10px;
    padding: 3px;
    
}
.stories h2{
    display: flex;
    justify-content: left;
}

   









.stories img:nth-child(1){
    float: left;
    background-image: url('man.png');
    height: 125px;
    width: 150px;




}
.stories img:nth-child(2){
    float: left;
    background-image: url('fitness.png');
    height: 125px;
    width: 150px;




}
.newsletter{
    text-align: center;
    background-color:#48BB78 ;
    padding: 100px;


}
.newsletter p{
    color: #fff;
    display: flex;
    justify-content: left;

}
.newsletter h3{
    color: #fff;

}
.form-group input{
    float:inline-start;
}
.form-group button{
    float:inline-end;
}